<div class="show-wrapper">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <h3>{{recipe.title}}</h3>
                <p>Ingredients:</p>
                <div class="show-boxes">
                    <span class="breakLines"> {{recipe.ingredients}}</span>
                </div>
                <p>Directions:</p>
                <div class="show-boxes">
                  <span class="breakLines"> {{recipe.directions}}</span>
                </div>
            </div>
            <div class="col-md-5 show-img">
                <img src="{{recipe.photo_url}}" alt="{{recipe.title}}" class="img-thumbnail"/>
                <div class="show-buttons">
                  <a href="/user/{{userId}}/recipes/{{recipe.id}}/edit" class="edit btn btn-default">Edit</a>
                  <form action="/user/{{userId}}/recipes/{{recipe.id}}?_method=DELETE" method="post" class="delete ">
                    <input type="submit" class="edit btn btn-default" value="Delete!">
                  </form>
              </div>
            </div>
        </div>
      </div>

        <div class="container-fluid add-comment-container">
        <form action="/user/{{userId}}/recipes/{{recipe.id}}" method="post">
          <button class="add-comment-button btn btn-default">Comment</button>
            <div class="form-group add-comment">
                <label for="comment">New Comment</label>
                <textarea class="form-control" rows="3" id="comment" name="content"></textarea>
                <button type="submit" class="btn btn-default">Submit Comment</button>
            </div>
        </form>
      </div>
    {{#if comments}}
    <h2 class="comments-header">Comments</h2>
    <div class="container-fluid comments">
        <ul>
            {{#each comments}}
                <li>
                    {{content}}
                </li>
            {{/each}}
        </ul>
    </div>
    {{/if}}
</div>
