<div class="container-fluid">
  {{#each recipes}}
    <div class="recipe_card">
      <h3>{{title}}</h3>
      <p>
        Directions: {{directions}}
      </p>
      <p>
        Ingredients: {{ingredients}}
      </p>
      <img src="{{photo_url}}" alt="" />
      <a href="recipes/{{id}}">Go To</a>
  {{/each}}
</div>

<div class=container-fluid>
  <div class="row">
    <div class="col-md-6">
      <a href="recipes/new">Create New Recipe</a>
    </div>
    <div class="col-md-6">

    </div>
  </div>
</div>
