<div class="container-fluid">
  <h3>{{recipe.title}}</h3>
  <p>
    Directions: {{recipe.directions}}
  </p>
  <p>
    Ingredients: {{recipe.ingredients}}
  </p>
  <img src="{{recipe.photo_url}}" alt="" />
  <a href="/recipes/{{recipe.id}}/edit">Edit</a>
  <form action="/recipes/{{recipe.id}}?_method=DELETE" method="post">
    <input class="button-delete" type="submit" value="Delete!">
  </form>
</div>



<div class="container-fluid">
  <ul>
    {{#each comments}}
      <li>
        {{comment}}
      </li>
    {{/each}}
  </ul>
</div>
